.contact {
            background-color: #5c005c;
        }

        .contact-content {
            display: flex;
            gap: 50px;
        }

        .contact-info {
            color: #ffd1ff;
            flex: 1;
        }

        .contact-info h3 {
            color: var(--primary-color);
            margin-bottom: 20px;
        }

        .contact-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .contact-item i {
            width: 40px;
            height: 40px;
            background-color: var(--primary-color);
            color: var(--white);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
        }

        .contact-form {
            flex: 1;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group input,
        .form-group textarea {
            width: 100%;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1rem;
            transition: var(--transition);
        }

        .form-group input:focus,
        .form-group textarea:focus {
            border-color: var(--primary-color);
            outline: none;
            box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.2);
        }

        .form-group textarea {
            min-height: 150px;
            resize: vertical;
        }
       .btn-primary {
            color: #ff80ff;
            margin-right: 15px;
            margin-bottom: 15px;
            background-color: #380038;
            border-color: #380038;
            box-shadow: #fffaff 1px 1px 1px 1px, #fffaff 1px 1px 1px 1px;
        }

        .btn-primary:hover {
            background-color: #8a008a;
            color: #ff80ff;
        }

        @media (max-width: 992px) {
            .contact-content {
                flex-direction: column;
                gap: 30px;
            }
        }